@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 12px;
}

p {
	font-size: 14px;
	line-height: 21px;
    padding: 0 30px;
}



/***** HEAD *****/
span {
	color: #77a466;
}

.title {
	padding: 10px;
	float: left;
}

nav {
	float: right;
	padding: 15px;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #77a466;
	padding-left: 30px;
	font-weight: bold;
}

img { 
	border: 3px solid #77a466;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	
}

/***** TOP SECTION *****/
.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
}

.main-image img {
	border-bottom: 3px solid #77a466;
}

.main-title {
	margin: 2% 5%;
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 25px;
}

/***** BOTTOM SECTION *****/
.section-one,
.section-two,
.section-three {
	width: 399px;
	height: auto;
	float: left;
	border-top: 1px solid #eee;
}

.section-one h4 {
	padding: 10px 0;
	
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}

.special {
	padding : 10px;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
	padding: 10px;	
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
	font-size: 16px;
	line-height: 24px;
}

/***** FOOTER *****/
footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
}
footer span {
	font-family: 'Pacifico', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
	font-style: italic;
}